# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Local env files
.env
.env.*

# Logs
*.log

# Docker
docker-compose.override.yml

# Other
*.sqlite3
